.footer {
    position: relative;
}
.wrapper_footer {
    align-items: center;
    background-image: url(../../public/img/bg-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 640px;
    justify-content: center;

    @include mobile {
        background-image: url(../../public/img/bg-footer-mobile.png);
        background-position: top;
        background-size: auto;
    }
}

.pill {
    position: absolute;
}

.pill__green {
    @include pill_position(7%, 30%);

    @include mobile {
        @include pill_position(7%, 20%);
        height: 22.57px;
        width: 22.97px;
    }
}

.pill__pink {
    @include pill_position(18%, 34%);

    @include mobile {
        @include pill_position(42%, 22%);
        height: 31.17px;
        width: 29.95px;
    }
}

.pill__gray{
    @include pill_position(5%, 68%);
    rotate: 45deg;
    filter: blur(6px);

    @include mobile {
        @include pill_position(3%, 37%);
        height: 33px;
        width: 47.67px;
    }
}

.pill__white {
    @include pill_position(91%, 35%);

    @include mobile {
        @include pill_position(82%, 41%);
        height: 36.08px;
        width: 38.2px;
    }
}
.pill__blue {
    @include pill_position(80%, 70%);

    @include mobile {
        @include pill_position(62%, 56%);
        height: 21.46px;
        width: 25.88px;
    }
}

.newsletter {
    text-align: center;
    margin-top: 10%;

    h2 {
        @include subtitles;
        width: 99%;
    }
    p {
        color: #939393;
        font-family: $main-font-family;
        font-size: 18px;
        font-style: normal;
        font-weight: 350;
        line-height: 180%;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        width: 50%;

        @include mobile {
            font-size: 15px;
            width: 70%;
            margin-top: 45px;
        }
    }
    &__form {
        margin-top: 30px;

        @include mobile {
            margin: 20px;
        }

        input {
            border: 1px solid #EFA693;
            border-radius: 100px;
            height: 48px;
            width: 360px;
            padding: 10px 24px;
            font-family: 'Filson Pro';
            font-weight: 800;
            font-size: 15px;

            @include mobile {
                width: 335px;
            }
        }
        input:focus {
            outline:none;
        }

        .btn {
            @include mobile {
                margin-top: 10px;
                width: 199px;
            }
        }
    }
}