.wrapper_footer {
    align-items: center;
    background-image: url(../../public/img/bg-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 550px;
    justify-content: center;
}

.newsletter {
    text-align: center;
    margin-top: 6%;

    h2 {
        @include subtitles;
        width: 99%;
    }
    p {
        color: #939393;
        font-family: $main-font-family;
        font-size: 18px;
        font-style: normal;
        font-weight: 350;
        line-height: 180%;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        width: 50%;
    }
    &__form {
        margin-top: 30px;

        input {
            border: 1px solid #EFA693;
            border-radius: 100px;
            height: 48px;
            width: 360px;
            padding: 10px 24px;
            font-family: 'Filson Pro';
            font-weight: 800;
            font-size: 15px;
        }
        input:focus {
            outline:none;
        }
    }
}