.footer {
    position: relative;
}
.wrapper_footer {
    align-items: center;
    background-image: url(../../public/img/bg-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 640px;
    justify-content: center;
}

.pill {
    position: absolute;
}

.pill__green {
    @include pill_position(7%, 30%);
}

.pill__pink {
    @include pill_position(18%, 34%);
}

.pill__gray{
    @include pill_position(5%, 68%);
    rotate: 45deg;
    filter: blur(6px);
}

.pill__white {
    @include pill_position(91%, 35%);
  }
  .pill__blue {
    @include pill_position(80%, 70%);
  }

.newsletter {
    text-align: center;
    margin-top: 10%;

    h2 {
        @include subtitles;
        width: 99%;
    }
    p {
        color: #939393;
        font-family: $main-font-family;
        font-size: 18px;
        font-style: normal;
        font-weight: 350;
        line-height: 180%;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        width: 50%;
    }
    &__form {
        margin-top: 30px;

        input {
            border: 1px solid #EFA693;
            border-radius: 100px;
            height: 48px;
            width: 360px;
            padding: 10px 24px;
            font-family: 'Filson Pro';
            font-weight: 800;
            font-size: 15px;
        }
        input:focus {
            outline:none;
        }
    }
}