@mixin cover($height, $width, $bg: #f4f4f4, $border-radius: 15px) {
    height: $height;
    width: $width;
    background: $bg;
    border-radius: $border-radius;
    position: relative;
}

@mixin cover_xl() {
    height: 398px;
}