h2 {
    @include subtitles;
}
.container {
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;

    @include mobile {
        margin-left: 10px;
    }
}
.btn{
    @include btn;
}
.btn--primary {
    @include btn_primary;
}