$main-font-family: 'Filson Pro';
$h2-font-family: 'Abhaya Libre';
$titles-color: #444950;
$gray-paragraph: #939393;

$btn-font-family: 'Neogrotesk Ess';
$btn-bg-primary-color: #EFA693;
$btn-bg-secundary-color: #FFFFFF;