.slider {

    &__header {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__title {
            margin-left: 40%;
            position: relative;
            
            &__image {
                z-index: -1;
                left: -26px;
                position: absolute;
                top: 31%;

                @include mobile {
                    left: 0;
                    top: 22px;
                    width: 70px;
                }
            }

            @include mobile {
                margin-left: 0;
            }
        }

        @include mobile {
            grid-template-columns: auto;
        }
    }

    .arrows {
        text-align: right;
        position: relative;

        &__nav {
            bottom: 10px;
            margin-left: 25%;
            position: absolute;
            width: 185px;

            img {
                position: absolute;
                top: 6px;
                z-index: -1;
            }
            &__img__left {
                left: 28px;
            }
            &__img__right {
                left: 120px;
            }
        }

        button {
            background: #FFFFFF;
            border: none;
            border-radius: 50%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            cursor: pointer;
            height: 39.5px;
            margin-left: 50px;
            width: 39.5px;
            
            &:hover {
                opacity: .8;
            }

            svg {
                height: 12px;
                width: 15px;
                fill: #555B64;
            }
        }

        @include mobile {
            margin: 90px 0 -10px -161px;
            position: relative;
            text-align: right;
        }
    }

    &__content {
        overflow: hidden;
        padding-top: 40px;
        width: 100%;
    }

    &__slides {
        display: flex;
        gap: 1rem;
        min-height: 397px;
    }

    &__footer {
        margin-bottom: 45px;
        margin-top: 90px;
        text-align: center;

        @include mobile {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}