.slider {

    &__header {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__title {
            margin-left: 40%;
            position: relative;
            
            &__image {
                z-index: -1;
                left: -26px;
                position: absolute;
                top: 31%;
            }
        }
    }

    .arrows {
        text-align: right;
        position: relative;

        &__nav {
            bottom: 10px;
            margin-left: 65%;
            position: absolute;
            width: 90px;
        }

        button {
            background: #FFFFFF;
            border: none;
            border-radius: 50%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            cursor: pointer;
            height: 39.5px;
            width: 39.5px;
            
            &:hover {
                opacity: .8;
            }

            svg {
                height: 12px;
                width: 15px;
                fill: #555B64;
            }
        }
    }

    &__content {
        overflow: hidden;
        padding-top: 40px;
        width: 100%;
    }

    &__slides {
        display: flex;
        gap: 1rem;
        // width: 100%;
        // overflow: hidden;
        min-height: 397px;
    }

    &__footer {
        margin-bottom: 45px;
        margin-top: 90px;
        text-align: center;
    }
}